<!-- <main id="main" class="main"> -->
<mat-card>
  <mat-card-title class="mat-card-title-style">{{addEditHeadTitle}} Branch
    <i class="ri-close-line cursor_pointer closeModelDialog" (click)="cancelAddEditForm()"></i></mat-card-title>
  <mat-card-actions class="p-2">
    <form [formGroup]="addEditForm">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="branchCode">Branch Code<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field appearance="outline" class="example-full-width " >
                <input type="text" (keyup)="checkBranchCodeAlreadyExit($event)" matInput formControlName="branchCode" placeholder="Enter Branch Code">
                <mat-error *ngIf="isControlHasError('branchCode','required')">
                  Branch Code is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="BranchCodeExistError">
                  Branch Code is <strong>Already Exist.</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="branchName">Branch Name<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field appearance="outline" class="example-full-width " >
                <input type="text" matInput formControlName="branchName" placeholder="Enter Branch Name">
                <mat-error *ngIf="isControlHasError('branchName','required')">
                  Branch Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="parentBranch">Parent Branch<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field appearance="outline" class="example-full-width " >
                <input type="text" matInput formControlName="parentBranch" placeholder="Enter Parent Branch">
                <mat-error *ngIf="isControlHasError('parentBranch','required')">
                  Parent Branch is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="externalBranchCode">External Branch Code<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field appearance="outline" class="example-full-width mt-2" >
                <input type="text" matInput formControlName="externalBranchCode" placeholder="Enter External Branch Code">
                <mat-error *ngIf="isControlHasError('externalBranchCode','required')">
                  External Branch Code is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div> -->
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="branchType">Branch Type<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field appearance="outline" class="w-100 " >
                <mat-select formControlName="branchType" placeholder="Select Branch Type">
                  <mat-optgroup >
                    <mat-form-field style="width:100%;padding-top: 9px;">
                      <input #searchBranchType autocomplete="off" [formControl]="searchBranchTypeTextboxControl" placeholder="Search" aria-label="Search" matInput (keyup)="searchDropdown(searchBranchType.value,'branchType')">
                      <button [disableRipple]="true" *ngIf="searchBranchType.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch($event,'branchType')">
                      <i class="ri-close-line cursor_pointer fontSize18px"></i>
                      </button>
                    </mat-form-field>
                    </mat-optgroup>
                    <mat-optgroup *ngIf="filterBranchTypeName?.length == 0">
                        <div>No results found!</div>
                  </mat-optgroup>


                  <mat-option *ngFor="let name of filterBranchTypeName" [value]="name.viewValue">
                    {{name.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('branchType','required')">
                  Branch Type is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="addressLine1">Address<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field appearance="outline" class="example-full-width " >
                <input type="text" matInput formControlName="addressLine1" placeholder="Enter Address">
                <mat-error *ngIf="isControlHasError('addressLine1','required')">
                  Address is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="phoneNo">Phone No.<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field appearance="outline" class="example-full-width " >
                <input type="text" matInput formControlName="phoneNo"
                  (keypress)="omitSpecialChar($event);omitCharacters($event);" minlength="10" maxlength="10"
                  placeholder="Enter mobile number">
                <mat-error *ngIf="isControlHasError('phoneNo','pattern')">
                  This field required only numeric values
                </mat-error>
                <mat-error *ngIf="isControlHasError('phoneNo','required')">
                  Phone No. is <strong>required</strong>
                </mat-error>
                <mat-error
                  *ngIf="isControlHasError('phoneNo','maxlength') || isControlHasError('phoneNo','minlength')">
                  Phone No. should be in 10 digits only
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="city">City<span class="text-danger"> *</span></label></div>
            <div class="col-8">

              <!-- <mat-form-field appearance="outline" class="w-100" >
                <mat-select (selectionChange)="citySelect($event.value)" formControlName="city" placeholder="Select City">
                  <mat-option *ngFor="let name of CityName" [value]="name.id">
                    {{name.cityName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('city','required')">
                  City is <strong>required</strong>
                </mat-error>
              </mat-form-field> -->

              <mat-form-field appearance="outline" class="w-100 " >
                <mat-select (click)="searchCityFocus()" (selectionChange)="citySelect($event.value)" formControlName="city" placeholder="Select City">

                  <mat-optgroup >
                    <mat-form-field style="width:100%;padding-top: 9px;">
                      <input #searchCity autocomplete="off" [formControl]="searchCityTextboxControl" placeholder="Search" aria-label="Search" matInput (keyup)="searchDropdown(searchCity.value,'city')"  >
                      <button [disableRipple]="true" *ngIf="searchCity.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch($event,'city')">
                      <!-- <mat-icon >close</mat-icon> -->
                      <i class="ri-close-line cursor_pointer fontSize18px"></i>
                    </button>
                           </mat-form-field>
                      </mat-optgroup>
                      <mat-optgroup *ngIf="filterCityName?.length == 0">
                        <div>No results found!</div>
                      </mat-optgroup>
                  <mat-option *ngFor="let name of filterCityName" [value]="name.id">
                    {{name.cityName}}
                  </mat-option>
                </mat-select>

                <mat-error *ngIf="isControlHasError('city','required')">
                  City is <strong>required</strong>
                </mat-error>
              </mat-form-field>

            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="state">State<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field appearance="outline" class="w-100 " >
                <mat-select (selectionChange)="stateSelect($event.value)" formControlName="state" [placeholder]="StatePlaceholdername">
                  <mat-option *ngFor="let name of StateName" [value]="name.id">
                    {{name.stateName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('state','required')">
                  State is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="country">Country<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field appearance="outline" class="w-100 " >
                <mat-select (selectionChange)="countrySelect($event.value)" formControlName="country" [placeholder]="CountryPlaceholdername">
                  <mat-option *ngFor="let name of countryName" [value]="name.id">
                    {{name.countryName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('country','required')">
                  Country is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-6" *ngIf="HidepincodeAreaEdit">
          <div class="row">
            <div class="col-4 mt-2"><label for="postalCode">Pincode<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field  appearance="outline" class="w-100 " (click)="searchFocuspincode()">
                <mat-select (click)="hidePincodeDropAreaNameTrue($event)" (selectionChange)="pincideSelect($event.value,$event)" formControlName="postalCode" [placeholder]="PincodePlaceholdername">
<!-- (mouseleave)="closeDropdown()"  (clickOutside)="closeDropdown()" -->
                  <mat-optgroup >
                    <mat-form-field style="width:100%;padding-top: 9px;">
                      <input #searchPincode autocomplete="off" [formControl]="searchPincodeTextboxControl" placeholder="Search" aria-label="Search" matInput (keyup)="searchDropdown(searchPincode.value,'pincode')">
                      <button [disableRipple]="true" *ngIf="searchPincode.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch($event,'pincode')">
                      <i class="ri-close-line cursor_pointer fontSize18px"></i>
                      </button>
                    </mat-form-field>
                    </mat-optgroup>
                    <mat-optgroup *ngIf="filterPincodeName?.length == 0">
                        <div>No results found!</div>
                  </mat-optgroup>
                  <mat-option class="pincodeAreaHeadingStyle" *ngIf="filterPincodeName?.length != 0">
                    <div class="row">
                      <div class="col-3">Pincode &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                      <div class="col-4">Area</div>
                    </div>
                  </mat-option>
                  <mat-option (click)="hidePincodeDropAreaNameFalse($event)" *ngFor="let name of filterPincodeName" [value]="name.id">
                    <div class="row">
                      <div class="col-3">{{name.pincode}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                      <div class="col-4" *ngIf="hidePincodeDropAreaName">{{name.areaName}}</div>
                    </div>
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('postalCode','required')">
                  Pincode is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6" *ngIf="HidepincodeAreaEdit">
          <div class="row">
            <div class="col-4 mt-2"><label for="area">Area<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field appearance="outline" class="example-full-width " >
                <input type="text" matInput formControlName="area" [placeholder]="AreaPlaceholdername">
                <mat-error *ngIf="isControlHasError('area','required')">
                  Area is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="pincode">Pincode<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field appearance="outline" class="example-full-width" >
                <input type="text" matInput formControlName="pincode"
                  (keypress)="omitSpecialChar($event);omitCharacters($event);" minlength="6" maxlength="6"
                  placeholder="Enter Pincode">
                <mat-error *ngIf="isControlHasError('pincode','pattern')">
                  This field required only numeric values
                </mat-error>
                <mat-error *ngIf="isControlHasError('pincode','required')">
                  Pincode is <strong>required</strong>
                </mat-error>
                <mat-error
                  *ngIf="isControlHasError('pincode','maxlength') || isControlHasError('pincode','minlength')">
                  Pincode should be in 6 digits only
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div> -->

        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="region">Region<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field appearance="outline" class="w-100 " >
                <mat-select formControlName="region" placeholder="Select Region">

                  <mat-optgroup >
                    <mat-form-field style="width:100%;padding-top: 9px;">
                      <input #searchRegion autocomplete="off" [formControl]="searchRegionTextboxControl" placeholder="Search" aria-label="Search" matInput (keyup)="searchDropdown(searchRegion.value,'region')">
                      <button [disableRipple]="true" *ngIf="searchRegion.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch($event,'region')">
                      <i class="ri-close-line cursor_pointer fontSize18px"></i>
                      </button>
                    </mat-form-field>
                    </mat-optgroup>
                    <mat-optgroup *ngIf="filterRegionName?.length == 0">
                        <div>No results found!</div>
                  </mat-optgroup>

                  <mat-option *ngFor="let name of filterRegionName" [value]="name.id">
                    {{name.regionName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('region','required')">
                  Region is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="isActive">Active<span class="text-danger"> *</span></label></div>
            <div class="col-8">
                <mat-slide-toggle color="primary" formControlName="isActive" class="mt-2"></mat-slide-toggle>
                <mat-error *ngIf="isControlHasError('isActive','required')">
                  Active is <strong>required</strong>
                </mat-error>
            </div>
          </div>
        </div>
        <!-- <div class="col-6">
          <div class="row">
            <div class="col-8 mt-2"><label for="isActive">Map Area/Pincode to Branch<span class="text-danger"> *</span></label></div>
            <div class="col-4">
                <mat-slide-toggle #ToggaleValue (toggleChange)="isMultiplePinAreaDualSelector(ToggaleValue)" color="primary" formControlName="isMultiplePinArea" class="mt-2"></mat-slide-toggle>
            </div>
          </div>
        </div>

        <div class="col-12" *ngIf="isMultiplePinAreaView">
          <dual-list class="mt-2" [sort]="keepSorted" [source]="source" [key]="key" [display]="display" [filter]="filter"
          [(destination)]="confirmed" height="215px" [format]="format" [disabled]="disabled"></dual-list>
        </div> -->
      </div>
    </form>
    <div class="btn_group boredrTopCore mt-2">
      <button mat-raised-button class="mt-3" (click)="cancelAddEditForm()">Close</button>
      <!-- <button mat-raised-button *ngIf="saveBtn" class="Save_btn" (click)="saveAddEditForm()">Save</button> -->
      <button mat-raised-button class="mt-3" *ngIf="createBtn" (click)="createAddEditForm()" color="primary">{{createAddEditBtnName}}</button>
      </div>
  </mat-card-actions>
</mat-card>
<!-- </main> -->
