<div>
    <mat-card-title style="position: absolute; left: 55rem; top: 13rem;" class="mat-card-title-style">
        <i style="cursor: pointer;" class="ri-close-line closeModelDialog cross"(click)="close()"></i>
    </mat-card-title>
    <h1 mat-dialog-title>
        <p class="thankyou">Thank You</p>
    </h1>
    <i class="bi bi-patch-check icon"></i>
    <div mat-dialog-content>
        Dear Customer your payment with Payment Id <span style="color:#258cf1;">{{value}}</span> has been successfully received.
    </div>
</div>