<main id="main" class="main">
    <div class="row">
        <div class="col-6">
          <div class="pagetitle">
            <h1>Request Type</h1>
            <nav>
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                  <li class="breadcrumb-item">Masters</li>
                  <li class="breadcrumb-item active">Request Type</li>
               </ol>
            </nav>
         </div>
        </div>
        <div class="col-4">
          <mat-form-field appearance="standard" class="filterStyle pt-0">
            <mat-label>Search</mat-label>
            <input matInput #dataSourceFilter class="padding3px0px" (keyup)="applyFilter(dataSourceFilter.value)" placeholder="Search" #input>
        </mat-form-field>
        </div>
        <div class="col-2">
          <button mat-raised-button color="primary" class="w-100" (click)="addData()">Create</button>
        </div>
      </div>
      <div>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Request Type Code </th>
                    <td mat-cell *matCellDef="let row"> {{row.requestTypeCode}} </td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                    <td mat-cell *matCellDef="let row"> {{row.description}} </td>
                </ng-container>
                <ng-container matColumnDef="isActive">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
                    <td mat-cell *matCellDef="let row"> {{row.active}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                  <td mat-cell *matCellDef="let row">
                   <span class="text-primary" (click)="editViewAction(row.itemId,'view')"><i class="ri-eye-fill" matTooltip="View"></i></span>
                   <span class="px-2">|</span>
                   <span class="text-danger" (click)="editViewAction(row.itemId,'edit')"><i class="bx bxs-edit" matTooltip="Edit"></i></span>
                  </td>
                  <td mat-cell *matCellDef="let row">
                   <span class="text-primary"><i class="ri-eye-fill" matTooltip="View"></i></span>
                   <span class="px-2">|</span>
                   <span class="text-danger"><i class="bx bxs-edit" matTooltip="Edit"></i></span>
                  </td>
              </ng-container>
      
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell text-center" colspan="5">No Record Found...</td>
                </tr>
            </table>
      
            <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons aria-label="Select page of users">
            </mat-paginator>
        </div>
      </div>
</main>

