<div>
    <form [formGroup]="paidForm">
    <div mat-dialog-content>
    <span *ngFor="let items of datas">
        <span *ngIf="items.requestTypeId == data.requestTypeId">
            Dear Customer, We require your confirmation for processing the {{items.reqName}}. This Request is chargeable amounting INR. {{items.payAmount}}/-.
        </span>
        
    </span>
    </div>
    <div mat-dialog-content>
        <mat-checkbox (change)="changeMe($event)" style="position: relative; right: 12rem;" formControlName="agreed">I Agreed to Pay</mat-checkbox>  
    </div>
    <div mat-dialog-actions>
        <button class="buton" mat-raised-button color="primary" (click)="submit()" [disabled]="paidForm.invalid || !value">Submit</button>
        <button class="buton" mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    </div>
    </form>
</div>
