.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.mat-card-title-style{
  padding-bottom: 12px;
  border-bottom: 1px solid gainsboro;
}
.Save_btn{
  color: white;
  background-color: gray;
}
.btn_group{
  display: flex;
  justify-content: right;
}
.card_header{
  display: inline;
    font-weight: 500;
    font-size: 1rem;
    position: absolute;
    top: -10px;
    background-color: white;
    padding: 0px 10px;
}

.remove_iocn{
  position: absolute;
    top: 2px;
    right: 50px;
    background-color: white;
    font-size: 20px;
}

.varify_btn{
  color: white;
  background-color: rgb(14, 174, 0);
}
.card{
  border: 1px solid;
}
.card_header{
  border-top: 1px solid black;
    border-radius: 10px;
}

.customRemove{
  /* margin-left: 10px; */
  position: absolute;
  cursor: pointer;
  right: 15px;
}


.optSucees{
  position: absolute;
    font-size: 35px;
    left: 100px;
    top: -8px;
}
.spanTextBoxHeight{
  height: 30px;
  margin-top: 6px;
  width: 100%;
  color: rgba(0,0,0,.40);
  font-size: 12px;
  border-color: rgba(0,0,0,0.06);
}
.mt_20px{
  margin-top: 20px;
}

/* custom new Css */

.card{
  border: 1px solid blue;
  margin-bottom: 5px;
}
.card_header{
  border-top: 1px solid black;
    border-radius: 10px;
}
.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
.mat-dialog-container{
  padding: 0px !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline{
  background-color: rgba(0, 0, 0, 0.20) !important;
}

.mat-card{
  padding: 20px !important;
}

.br_gainsboro{
  /* border-right: 1px solid gainsboro; */
    padding-right: 20px;
}
h5{
  font-size: 0.9rem;
  margin-bottom: 2px;
}
.o_07{
  opacity: 0.7;
}
.leadTitle{
  font-weight: 500;
}

.boredrBottomCore{
  border-bottom: 1px solid gainsboro;
  margin-left: 5px;
}

.boredrTopCore{
  border-top: 1px solid gainsboro;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
}

.CardTitleStyle{
  background-color: aliceblue;
  margin: 0px -12px;
  padding: 5px 12px;
  border-radius: 5px 5px 0px 0px;
}

.leadDetailsStyle{
  padding: 0px 10px;
}
.autoFoucusStyle{
  border: 3px solid blue;
}

.cursor_pointer{
  cursor: pointer;
}

.closeModelDialog{
  float: right;
}

.mobileVerifiedIcon{
  font-size: 20px;
  margin-left: 5px;
  position: absolute;
    top: -5px;
}

.verifiedLabel{
  position: relative;
}

.textPrimaryColor{
  color: #0d6efd !important;
}

.attachmentStyle{
  position: absolute;
    right: 5px;
    color: blue;
}

.matProgressBarStyle{
  margin-top: -12px;
    position: absolute;
    width: 95%;
    margin-bottom: 10px;
}

div.ngx-mat-timepicker-dialog>mat-dialog-container.mat-dialog-container{
  padding: 24px!important;
}

.commentsStyle{
  border-bottom: 1px solid gainsboro;
  margin-bottom: 5px;
}
.fontSize10px{
  font-size: 10px;
}
.marginLeft40px{
  margin-left: 25px;
}
.marginTop7px{
  margin-top: -7px;
}
.cpommentScrollStyle{
  max-height: 140px;
    overflow: auto;
    margin-top: -13px;
}

.noDevviation{
  font-size: 12px;
}

a:hover{
  color: blue !important;
}

.saveDataMissmatch{
  /* position: absolute;
  right: 10px;
  bottom: 10px; */
  float: right;
    bottom: 10px;
}

.approvedRejectBtn{
  padding: 2px 10px;
  font-size: 12px;
  margin-left: 10px;
}
