<!-- <footer>
    <div class="container">
      <div class="row">
        <div class="col text-center">
          Copyright &copy; 2023 FinTech Software & IT Service. All rights reserved.
        </div>
      </div>
    </div>
</footer> -->

<footer id="footer" class="footer">
  <div class="copyright"> &copy; Copyright <strong><span>2023 FinTech Software & IT Service.</span></strong>. All Rights Reserved</div>
  <!-- <div class="credits"> with love <a href="https://freeetemplates.com/">FreeeTemplates</a></div> -->
</footer>
