.proper{    
    
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    color: #012970;
    transition: 0.3;
    /* padding: 10px 0 10px 40px; */
    transition: 0.3s;
}

