<mat-card>
  <mat-card-title class="mat-card-title-style">Service Request
    <i class="ri-close-line closeModelDialog cross" style="cursor: pointer" (click)="cancelAddEditForm()"></i>
  </mat-card-title>
  <mat-card-actions class="p-2">
    <div class="row" style="font-size: 14px">
      <div class="col-11">
        <div class="material-tabs topup-loan">
            <div class="tab-content">
              <div class="tab-pane fade show active">
                <div class="row">
                  <div class="col-6">
                    <div class="form-group row">
                      <label class="col-form-label col-md-4">Service Req Id:</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control-plaintext" [value]="data.data.serviceRequestId" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-form-label col-md-4">Customer Name:</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control-plaintext" [value]="data.data.loanMaster?.customerName" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-form-label col-md-4">TAT COUNT:</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control-plaintext" *ngFor="let items of serviceRequests?.requests"
                          value="{{ items?.tatCount }}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-form-label col-md-4">Request For:</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control-plaintext" *ngFor="let items of serviceRequests?.requests"
                          value="{{ items.reqName }}" />
                      </div>
                    </div>
                    <div class="col-6 upload">
                      <div class="row">
                        <div class="col-5 mt-2">
                          <label for="selectFileUpload">Document Upload:</label>
                        </div>
                        <mat-form-field class="example-full-width docuMove">
                          <input class="cursor_pointer" matInput placeholder="Select File Upload" (click)="openFile()"
                            [value]="displayFileCount" readonly />
                          <i *ngIf="ifVerifyHideImgDesable" (click)="openFile()"
                            class="ri-attachment-line attachmentStyle"></i>
                          <input hidden />
                          <input type="file" #imgFileInput (change)="onSelectFile($event)" multiple hidden
                            accept="application/pdf,image/*" />
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-form-label col-md-4">Document:</label>
                      <div class="col-md-6" style="position: relative;top: 0.5rem;left: 1.2rem;">
                  
                                  <div class="row">
                                    <div class="col-6" *ngFor="let item of filesArray">
                                      <!-- <img  [src]=" item?.fileType != 'application/pdf'? item?.downloadURL : '../../../../../assets/images/fileUpload.png'" style="height: 150px;width:100%;border: 1px solid;"> -->
                                        <p style="font-size: 12px;">{{ (item?.fileName.length>20)? (item?.fileName | slice:0:20)+'...':(item?.fileName)}}
                                        <!-- <p>{{item?.fileName)}} -->
                                          

                                        <a [href]="item?.downloadURL" class="ml-2 btn text-white btn-success" style="padding: 2px 7px;"><i class="bi bi-cloud-download" style="margin: 0px; font-size: 14px;"></i></a>
                                      </p>
                                    </div>
                                    <div class="text-center" *ngIf="filesArray.length == 0">
                                      No Data Found...
                                    </div>
                                  </div>
                          <!-- <input type="text" readonly class="form-control-plaintext"> -->
                      </div>
                  </div> 

                   
                  </div>

                  <div class="col-6">
                    <div class="form-group row">
                      <label class="col-form-label col-md-4">Loan No:</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control-plaintext" [value]="data.data.loanMaster?.loanAcctNo" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-form-label col-md-4">Pancard:</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control-plaintext" [value]="data.data.loanMaster?.pancard" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-form-label col-md-4">Email:</label>
                      <div class="col-md-6">
                        <input style="width: 20rem" type="text" class="form-control-plaintext"
                          [value]="data.data.loanMaster?.email" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-form-label col-md-4">Loan Status:</label>
                      <div class="col-md-6">
                        <select class="form-control-plaintext" [(ngModel)]="serviceRequest">
                          <option *ngFor="let status of requestStatuss" [value]="status.leadStatus">
                            {{ status.leadStatus }}
                          </option>
                          <!-- <option [value]="'Pending'">Pending</option>
                                <option [value]="'open'">Open</option>
                                <option [value]="'Rejected'">Rejected</option>
                                <option [value]="'Closed'" selected>Closed</option> -->
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-form-label col-md-4">Request Date:</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control-plaintext" value="{{data.data.requestDate | date:'yyyy-MM-dd'}}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-form-label col-md-4">Follow-Up:</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control-plaintext" [value]="data.data.followUp" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-form-label col-md-4">Remarks:</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control-plaintext" [value]="data.data.remark" />
                      </div>
                    </div>
                  </div>
                  <div class="form-group row" [formGroup]="followUpForm">
                    <mat-label>Follow Up:</mat-label>
                    <mat-form-field class="areas">
                      <textarea formControlName="text" matInput placeholder="Message (Max. 1000 characters)"
                        maxlength="1000"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="btn_group boredrTopCore mt-3" style="position: relative; left: 40rem">
                    <button mat-raised-button class="mt-3" (click)="cancelRequestDetails()">
                      Close
                    </button>
                    <!-- <button mat-raised-button *ngIf="saveBtn" class="Save_btn" (click)="saveAddEditForm()">Save</button> -->
                    <button mat-raised-button class="mt-3" (click)="getRequestDetails()" color="primary">
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </mat-card-actions>
</mat-card>