<mat-card>
  <mat-card-title class="mat-card-title-style">{{addEditHeadTitle}} Service Request
    <i class="ri-close-line cursor_pointer closeModelDialog cross" (click)="cancelAddEditForm()" ></i>
  </mat-card-title>
  <mat-card-actions class="p-2">
    <form [formGroup]="serviceRequestForm">
      <div class="row">
        <div class="col-6">
          <div class="row">           
            <div class="col-6 mt-2"><label for="loanMasterId">Loan Account No.<span class="text-danger"> *</span></label></div>
              <div class="col-6">
                <mat-form-field appearance="outline" class="">             
                  <mat-select  formControlName="loanMasterId"
                    disableRipple (selectionChange)="changeSomething($event.value)" placeholder="Select Loan Account No.">
                    <mat-optgroup>
                      <mat-form-field style="position: relative; top: 0.3rem;" class="searchDrop">
                        <input #searchLoanType autocomplete="off" [formControl]="searchLoanTypeTextboxControl"
                          placeholder="Search" aria-label="Search" matInput
                          (keyup)="searchLoanDropdown(searchLoanType.value,'loanMasterId')">
                        <button [disableRipple]="true" *ngIf="searchLoanType.value" matSuffix mat-icon-button
                          aria-label="Clear" (click)="clearLoanSearch($event,'loanMasterId')">
                          <i class="ri-close-line cursor_pointer fontSize18px"></i>
                        </button>
                      </mat-form-field>
                    </mat-optgroup>
                    <mat-optgroup *ngIf="filterLoanTypeName?.length == 0">
                      <div>No results found!</div>
                    </mat-optgroup>
                    <mat-option *ngFor="let loan of filterLoanTypeName" [value]="loan.loanMaster.loanMasterId
                    ">{{loan.loanMaster.loanAcctNo}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="isControlHasError('loanMasterId','required')">
                    Loan Account is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
          </div>
        </div>
        <div class="col-6" style="position: relative; top: 0.1rem;">
          <label>Customer Name:</label>
          <mat-form-field appearance="outline" class="example-full-width" style="margin-left: 30px;">
            <input formControlName="CustomerName" class="cursor_pointer" matInput  readonly />
          </mat-form-field>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-5 mt-2"><label for="requestType">Request Type<span class="text-danger"> *</span></label></div>                         
              <div class="col-7">
                <mat-form-field appearance="outline" class="requestMove">                
                  <mat-select disableRipple (selectionChange)="somethingChanged($event.value)" formControlName="requestType" placeholder="Select Request Type" mat-select-filter>
                    <mat-optgroup>
                      <mat-form-field style="position: relative; top: 0.3rem;" class="searchDrop">
                        <input  #searchRequestType autocomplete="off" [formControl]="searchBranchTypeTextboxControl"
                          placeholder="Search" aria-label="Search" matInput
                          (keyup)="searchDropdown(searchRequestType.value,'requestType')">
                        <button [disableRipple]="true" *ngIf="searchRequestType.value" matSuffix mat-icon-button
                          aria-label="Clear" (click)="clearSearch($event,'requestType')">
                          <i class="ri-close-line cursor_pointer fontSize18px"></i>
                        </button>
                      </mat-form-field>
                    </mat-optgroup>
                    <mat-optgroup *ngIf="filterBranchTypeName?.length == 0">
                      <div>No results found!</div>
                    </mat-optgroup>
                    <mat-option *ngFor="let name of filterBranchTypeName" [value]="name.itemId">
                      {{name.description}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isControlHasError('requestType','required')">
                    Request Type is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
          </div>
        </div>

        <div class="col-6 upload">
          <div class="row">
            <div class="col-5 mt-2"><label for="selectFileUpload" style="position: relative;bottom: 0.9rem;">Document Upload</label></div>
            <mat-form-field class="example-full-width docuMove">
              <input formControlName="selectFileUpload" class="cursor_pointer" matInput
                placeholder="Select File Upload" (click)="openFile()" [value]="displayFileCount" readonly />
              <i *ngIf="ifVerifyHideImgDesable" (click)="openFile()"
                class="ri-attachment-line attachmentStyle"></i>
              <input formControlName="file_upload" hidden />
              <input type="file" #imgFileInput (change)="onSelectFile($event)" multiple hidden
                accept="application/pdf,image/*">
            </mat-form-field>
          </div>
        </div>
        <div class="col-8">
          <div class="row">             
            <div class="col-4"><label for="rbiQueries" class="checkboxlabelmove">RBI Queries<span class="text-danger"> *</span>
            </label></div>
            <div class="col-8">
                <mat-slide-toggle color="primary" formControlName="rbiQueries" class="mt-2 togglemoves"></mat-slide-toggle>
            </div>
          </div>
        </div>
        <div class="col-12">
          <ng-container *ngIf="showCard">
            <form [formGroup]="queryForm" style="position: relative; left: 1.5rem;">
              <div class="row">
                <div class="col-11" style="left:1rem">
                  <div class="card material-tabs topup-loan" style="border-radius: 1rem;">
                    <div class="card-body">
                      <div class="tab-content">
                        <div class="tab-pane fade show active">
                          <div class="grid-container">
                            <mat-checkbox *ngFor="let queries of queryList;index as i" #checkBoxVAlue
                              (change)="clickQuryFormSelect(checkBoxVAlue,queries?.requestTypeId,i)">{{queries?.reqName}}   <span *ngIf="queries.isPaidPopup == true" style="color:red">  - ({{paidMsg}})</span></mat-checkbox>                      
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </ng-container>                                                 
         <mat-form-field *ngIf="isDisabled" class="example-full-width areas">
             <textarea  formControlName="textArea" matInput placeholder="Message (Max. 1000 characters)" maxlength="1000"></textarea>
             <mat-error *ngIf="isControlHasError('textArea','required')">
                 Enter Your Message</mat-error>
         </mat-form-field>
        </div>
      </div>
    </form>
    <div class="btn_group boredrTopCore buttun">
      <button mat-raised-button class="mt-3"  (click)="createAddEditForm()"
        color="primary">Submit</button>
    </div>
  </mat-card-actions>
</mat-card>
<!-- <mat-form-field class="width">
  <input
    matInput
    placeholder="Country"
    aria-label="Country"
    [matAutocomplete]="auto"
    [formControl]="countryCtrl"
    required/>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      *ngFor="let country of filteredCountry | async"
      [value]="country.name">
      <span>{{ country.name }} | {{ country.code }}</span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field> -->