<nav class="navbar top-navbar navbar-expand-md navbar-light bg-white sticky-top">
    <div class="container">
        <a class="navbar-brand brand-logo mr-auto" target="_blank" href="http://www.fintechsoftwareservice.com/">
            <!-- <img src="http://192.168.1.75:8001/public/images/fintech-logo.png" class="logo"> -->
            <img src="../../../../assets/images/goFIN_product_logo.jpg" class="logo">
            <!-- <img src="http://192.168.1.75:8001/public/images/logo-mini.png" class="logo-mini"> -->
        </a>
    </div>
</nav>