<!-- <main id="main" class="main">
  <div class="pagetitle">
     <h1>Profile</h1>
     <nav>
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
           <li class="breadcrumb-item active">Change Password</li>
        </ol>
     </nav>
  </div>
  <section class="section profile">
     <div class="row">
        <div class="col-xl-12">
           <div class="card">
              <div class="card-body pt-3">
                 <ul class="nav nav-tabs nav-tabs-bordered">
                    <li class="nav-item"> <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button></li>
                 </ul>
                 <div class="tab-content pt-2">
                    <div class="tab-pane fade pt-3 show active profile-change-password" id="profile-change-password">
                       <form>
                          <div class="row mb-3">
                             <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                             <div class="col-md-8 col-lg-9"> <input name="password" type="password" class="form-control" id="currentPassword"></div>
                          </div>
                          <div class="row mb-3">
                             <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                             <div class="col-md-8 col-lg-9"> <input name="newpassword" type="password" class="form-control" id="newPassword"></div>
                          </div>
                          <div class="row mb-3">
                             <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                             <div class="col-md-8 col-lg-9"> <input name="renewpassword" type="password" class="form-control" id="renewPassword"></div>
                          </div>
                          <div class="text-center"> <button type="submit" class="btn btn-primary">Change Password</button></div>
                       </form>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </section>
</main> -->


<main id="main" class="main">
  <div class="pagetitle">
    <h1>Profile</h1>
    <nav>
       <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Change Password</li>
       </ol>
    </nav>
 </div>
  <mat-card>
    <mat-card-title class="mat-card-title-style">Change Password</mat-card-title>
    <mat-card-actions class="p-2">
      <form [formGroup]="addEditForm">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-3 mt-2"><label for="currentPassword">Current Password<span class="text-danger">
                    *</span></label></div>
              <div class="col-9">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="password" matInput formControlName="currentPassword" placeholder="Enter Current Password">
                  <mat-error *ngIf="isControlHasError('currentPassword','required')">
                    Current Password is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-3 mt-2"><label for="newPassword">New Password<span class="text-danger"> *</span></label></div>
              <div class="col-9">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="password" matInput formControlName="newPassword" placeholder="Enter New Password">
                  <mat-error *ngIf="isControlHasError('newPassword','required')">
                    New Password is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-3 mt-2"><label for="c_password">Re-enter New Password<span class="text-danger"> *</span></label>
              </div>
              <div class="col-9">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="password" matInput formControlName="c_password" placeholder="Enter Re-enter New Password">
                  <mat-error *ngIf="isControlHasError('c_password','required')">
                    Re-enter New Password is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="isControlHasError('c_password','confirmPasswordValidator')">
                    Password not <strong>Match</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="btn_group mt-4">
        <button mat-raised-button (click)="changePassword()"
          color="primary">Change Password</button>
      </div>
    </mat-card-actions>
  </mat-card>
  </main>
